@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Noto+Serif&display=swap');


*{
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Merriweather', Serif;
   margin: 0;
   justify-content: center;
   align-items: center;
   display:flex;
   min-height: 100vh;
}

.quez-container{
    width: 400px; 
    border-radius: 10px;
   background-color: bisque;
   box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);

    
}
.quez-header{
    padding: 2rem;
}
ul{
    list-style-type: none;
    padding: 0;
}
button{
    background-color:blue;
    display: block;
    width:100%;
    border:none;
    color:white;
    padding:1rem;
}
button :hover{
    background-color: aqua;
}

h2{
    margin:0;
}