* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(4, 53, 95);
}

.wrapper{
position: relative;
top:3rem;
height: 500px;
width: 500px;
background-color: blueviolet;
margin: auto;


}

.arrow{
  border-radius: 10px;
  position: absolute;
  left:19%;
  right: 19%;
  top: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 30px;

}


.image-slide{
  overflow: hidden;
  background-color: aquamarine;
  border: 1px solid grey;
  border-radius: 10px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev,
.next {
  border: none;
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 7px;
  margin-top: -50px;
  color: white;
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}