@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Noto+Serif&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Merriweather', Serif;
   margin: 0;
}